#cloud-config
users:
  - name: ningu
    groups: users, admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC4bRV3xH/ryWBGtohW9Eqf1uH6aIGHB2RBXEiAId+hOMzUJ6WAShgymtZw7P89ej3zYI5LdE9eXywRuUGJiqanpW0HnNQsMGMulUPdPGm7CJ5hYjNSmVVQLs7UkXj2iJWQxSxOyYOzlupvDlfsMUgMKEw8tr/ei+Twj2wuQJXsh2TPs1+J6dzhxSXGDVRWrQPSduni7+1nTkoUY2cBTciUc4/QWjP1jCN085Xjtf2xaUKmhIhoSfKQGdrurCBl/Jl5LmS6BOEEIB57nKmBzR46g8cqGtpiPzuSl7FNyrBANtvCbZauHtG9kORwqE1SGxGbsznXs7t7nrV/yG5/F8UYVJYllRYkgVvkKRR8rwkxjjPTUzqT3/9lnUelqN0tSh9hVW+/yw+1G9iSs/UKUMsqozLj1H0Q90XZe1wfzyzP11+o08MKZivZrzCcrsG4T/gQC9Na1sT/EP8NrU1gPv3LuE16y3z1CBs4qWlXxSMwgF9mmg4A8ur6BnmJjt8QMeGApC1C77WmuRhbA0JIX9b5oMbFNAQO6AkDLHVDlpAPxC4Fvi5EtK3F6lt+oBmIiXU1kxrYw2Uv2/bxZqJRkcuBo8HK7TXYryWmSkJFl+ZXxGq0LZzkmBmYmT1FJUp3H4pBdfcE1yXjsicwSrNR0HuPBpscjU1y5oxtniPVO9LXgQ== ningu@Master

packages:
  - curl
  - wget
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - python
  - iptables-persistent
  - gnupg-agent
  - socat
  - conntrack
  - ipset
package_update: true
package_upgrade: true

runcmd:
  - swapoff -a
  - export VERSION=1.19
  - sudo dnf module enable cri-o:$VERSION -y
  - sudo dnf install cri-o -y
  - sudo systemctl enable crio
  - sudo systemctl start crio
  - sudo dnf install wget iptables -y
  - touch /opt/ready.txt
  - reboot